* {
    margin:0;
    padding:0;
}
a {
    text-decoration:none;
}

.main {    
    /* modal 스크롤 */
    height: 420px;
    overflow-y: auto;
    position: fixed;
    margin-left: -20px;
    top: 450px;
    width: 540px;
    text-align: start;
}

.container {
    padding-top: 10px;
    padding-bottom: 30px;
}

.tag {
    width: 30px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    flex-direction: row;
    text-align: center;
    padding: 4px;    
}

.commit {
    padding-top: 10px;
    width: auto;    
}
.commit-num {
    color: rgb(255, 115, 0);
}
.commit-top {
    width: 30px;
    margin-top: 20px;
}


#class {
    position: fixed;
}
.btn_open {
    font-weight:bold;
    margin:5px; 
    padding:4px 6px; 
    background:#000; 
    color:#fff;
}
.pop_wrap {
    position:fixed;  
    background:rgba(0,0,0,.5); 
    font-size:0; 
    text-align:center;
}
.pop_wrap:after {
    display:inline-block; 
    height:100%; 
    vertical-align:middle; 
    content:'';
}
.pop_wrap .pop_inner{
    display:inline-block;
    padding:20px 30px; 
    background:#fff; 
    width:200px; 
    vertical-align:middle; 
    font-size:15px;
}

i {
    position: relative;
    top: 5px;
    left: 90%;    
    color: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;    
}

i:hover {
    background: rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
}

.wrap {
    padding:10px;
}

.pop_wrap {
    position:fixed; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    background:rgba(0,0,0,.5); 
    font-size:0; 
    text-align:center;
}
.pop_wrap:after {
    display:inline-block; 
    height:100%; 
    vertical-align:middle; 
    content:'';
}
.pop_wrap .pop_inner{
    display:inline-block;
    padding:20px 30px; 
    background:#fff; 
    width:200px; 
    vertical-align:middle; 
    font-size:15px;
}

.background {
    
    height: 100vh;
    z-index: 1000;    
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
  }


#slider-wrap {
    width: 500px;
    height: 800px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}
#slider-wrap ul#slider li img {
    width: 100%;
    height: 400px;
}

/*btns*/
.btn_close {
    font-size: 20pt;
    position: absolute;           
    text-align: center;
    cursor: pointer;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
    z-index: 100;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 20%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}


.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}
#slider-wrap.active #close {
    top: 0px;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
